<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"

    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    version     = "1.0.0"
    versionCode = "10" >

    <!-- versionCode is optional and Android only -->

    <preference name="phonegap-version" value="3.5.0" />

    <name>Sample Config.xml</name>

    <description>
    An example for phonegap build docs. 
    </description>

    <author href="http://yoursite.com" email="you@youremail.com">
    Your Name
    </author>


    <gap:platform name="android" />

    <gap:plugin name="org.apache.cordova.device-orientation" />


<feature name="debug-server" required="true">
      <param name="domain" value="http://188.106.110.174:8080/"/>
      <param name="key" value="342352132221"/>
    </feature>


</widget>